.bar-item {
    flex: 1;
    height: 100%;
    background-color: #d1ffd5;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    position: relative;
  }
  
  .bar-item:hover {
    background-color: #a8fcff;
  }

  .bar-item-legend {
    position: absolute;
    top: 100%;
    width: 100%;
    padding-top: 10px;
    color: #999999;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
  }
  
  .bar-item:hover .bar-item-legend {
    color: #2c2c2c;
  }