.button-component {
    position: relative;
    height: 30px;
    width: 30px;
    background-color: black;
    color: white;
    font-size: 12px;
    padding: 10px 10px;
    border-radius: 50%;
    margin: 10px 10px;
    cursor: pointer;
}

.button-component:hover {
    position: relative;
    height: 30px;
    width: 30px;
    background-color: rgb(52, 48, 48);
    color: white;
    font-size: 12px;
    padding: 10px 10px;
    border-radius: 50%;
    margin: 10px 10px;
    cursor: pointer;
}