.App {
  height: 100%;
  text-align: center;
  background-color: skyblue;
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 20%;
  width: 100%;
  height: 100%;
  max-width: 800px;
  text-align: center;
  padding: 20px 15px;
  border-style: solid;
  border-radius: 30px;
  background-color: white;
  box-shadow: 1px 1px 20px 1px grey; 
}

.bars {
  margin: auto;
  width: 50%;
}